
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px; 
    background-color: #376e57;}

    nav {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        background-color: #e2dfdf;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 15px;
        box-shadow:3px 4px 8px rgba(0, 0, 0, 0.399);
        justify-content: space-between;
        z-index: 100; 
      }
      
      .links {
        display: flex;
        gap: 15px;
        align-items: center;
        padding-right: 50px;
      }
    
      .logo-search img {
        width: 90px; 
        height: auto;
        margin: 0;
      }
      
      .icon {
        font-size: 25px;
        color: #5f5f66;
        text-decoration: none;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 20px;
        transition: all 0.3s ease; 
      }
      
      .icon:hover {
        background: #57bd84; 
        color: white; 
        border-radius: 50%; 
      }
      
    

.container {
    width: 800px;
    background-color: #ffff;
    padding: 30px;
    box-shadow: 16px 16px 16px 16px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 20px;
    margin: 50px auto;
}

.tab_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-bottom: 2px solid rgb(176, 174, 174);
    font-size: 18px;
    font-weight: 600;
}

.tab_btn {
    color: #e2dfdf;
    background: none;
    border: none;
    font-size: 20px;
    padding: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tab_btn.active {
    color: #376e57;
}

.line {
    position: absolute;
    width:200px;
    left:2px;
    top: 56px;
    height: 5px;
    background-color: #376e57;
    transition: all 0.3s ease-in-out;
}

.content_box {
    padding: 20px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


.input-container {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textAdd {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    width: 98%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #e2dfdf;
    border-radius: 5px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #376e57;
}


.btncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #e2dfdf;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.loading {
    background-color: #7ca771; 
    color: white;
}

.btn.success {
    background-color: #528a73; 
    color: white;
}

.btn.error {
    background-color: #dc3545; 
    color: white;
}


.btn.success .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
}

.btn.success p {
    margin-right: 95px;
    transition: 1s;
}

.check-box {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: -30px;
    opacity: 0;
    transition: 1s;
}

.check-box svg {
    width: 30px;
    margin: 15px;
}

svg path {
    stroke-width: 3;
    stroke: #e2dfdf;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.btn.success svg path {
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}
