
.search-container {
    flex: 1;
    display: flex;
    align-items: center;
    width: fit-content;
  }
  
  .search {
    flex: 1;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    width: 800px;
  }
  
  body {
    padding-top: 10px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif; /* Optional for better visuals */
}

nav {
    position: fixed; /* Keeps the navbar fixed at the top */
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 0; /* Ensure it stays at the top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    z-index: 1000; /* Ensure it stays above other elements */
}

.links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    font-size: 25px;
    color: #5f5f66;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 20px;
}

.icon:hover {
    background: #dad9d9;
    border-radius: 90%;
}

.logo-search {
    font-size: 20px;
}

.contentSearch {
    margin-top: 70px; /* Adjust to account for the navbar height */
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.image-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px; /* Space between image and text */
    margin-top: 20px; /* Move image down */
    z-index: 2; /* Ensure image is above circles */
}

#no_img {
    background-image: url('http://127.0.0.1:5000/static/img/no_img.png');
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: -20px; /* Move image to the left */
}

.text-overlay {
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; /* Space between image and text */
}

.circles {
    position: absolute;
    top: 60%; /* Move circles down */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.circle {
    position: absolute;
    border-radius: 50%;
    animation: move 7s infinite;
}

.circle.small {
    width: 140px;
    height: 140px;
    animation-delay: 0s;
    margin-left: 40px;
    margin-top: 40px;
    background-color: #a6e5c1;
    margin-bottom:150px ;
}

.circle.med {
    width: 200px;
    height: 200px;
    animation-delay: 0s;
    background-color: #439266;
    margin-bottom:150px ;

}

.circle.big {
    background-color: #c2bdbd;
    width: 300px;
    height: 300px;
    animation-delay: 0s;
    margin-left: 250px;
    margin-bottom: 200px; /* Move big circle to the left */
}

.parent-container {  /* Replace with your actual parent container class or element */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically (optional) */
}

.typo-suggestion {
    padding-top: 20px;
    padding-left: 10px;
    text-align: center; /* Centers the text inside the element */
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    color: #0cb368;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}


@keyframes move {
    0% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
    25% { opacity: 0.4; transform: translate(-50%, -50%) scale(0.9); }
    50% { opacity: 0.4; transform: translate(-50%, -50%) scale(0.8); }
    75% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
    100% { opacity: 0.4; transform: translate(-50%, -50%) scale(1); }
}