<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../static/css/add.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <nav class="NavBar">
        <div class="logo-search">
            Lexium
        </div>
        <div class="links">
            <a href="/add_articles" id="addArticle" class="icon">
                <i class="fas fa-plus"></i>
            </a>
            <a href="/"  id="homeLink" class="icon">
                <i class="fas fa-home"></i>
            </a>
              </div>
    </nav>
    <form action="/submit_article" method="POST">
    <div class="content" style="padding: 20px;">
     
        <div class="input-container">
            <label  class = "textAdd" for="input1">Title</label>
            <textarea id="input1" placeholder="Enter title..." rows="4" cols="50"></textarea>
        </div>

 
        <div class="input-container">
            <label class = "textAdd" for="input2">Body</label>
            <textarea id="input2" placeholder="Enter body..." rows="10" cols="50"></textarea>
        </div>

       
        <div class="input-container">
            <label  class = "textAdd" for="input3">Tags</label>
            <textarea id="input3" placeholder="Enter tags..." rows="4" cols="50"></textarea>
        </div>

        <!-- Button (Submit button with animation) -->
    <div   class = "btncontainer">
        <button id="btn">
            <p id="btnText">Submit</p>
            <div class="check-box">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
        </button>
        </div>
    </div>   
    </form>  


<script type="text/javascript">
    const btn = document.querySelector("#btn");
    const btnText = document.querySelector("#btnText");

    btn.onclick = () => {
        btnText.innerHTML = "Thanks";
        btn.classList.add("active");
        };
    </script>

<script src="../static/js/script.js"></script>

</body>
</html>
