<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" href="../static/css/search.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <nav class="NavBar">
        <div class="logo-search">
            Lexium
        </div>
        <div class="links">
            <a href="/add_articles" id="addArticle" class="icon">
                <i class="fas fa-plus"></i>
            </a>
            <a href="/"  id="homeLink" class="icon">
                <i class="fas fa-home"></i>
            </a>
              </div>
    </nav>

    <div class="container">
        <h1 class="logo">Lexium</h1>
        <form id="searchForm" method="POST">
            <label for="search">Search for stuff</label>
            <input id="search" name="query" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
